<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day13</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ex03</servlet-name>
  	<servlet-class>com.bit.controller.EX03Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deptList</servlet-name>
  	<servlet-class>com.bit.controller.DeptController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deptAdd</servlet-name>
  	<servlet-class>com.bit.controller.DeptAddController</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>deptOne</servlet-name>
  	<servlet-class>com.bit.controller.DeptOneController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ex03</servlet-name>
  	<url-pattern>/ex03.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deptList</servlet-name>
  	<url-pattern>/dept/list.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deptAdd</servlet-name>
  	<url-pattern>/dept/add.html</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>deptOne</servlet-name>
  	<url-pattern>/dept/detail.html</url-pattern>
  </servlet-mapping>
</web-app>