<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
		<typeAlias alias="deptVo" type="com.bit.sts04.model.entity.DeptVo"/>
  	</typeAliases>
  	<mappers>
  		<mapper resource="mapper/deptMapper.xml"/>
  	</mappers>
  </configuration>